button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}
* {
  font-family: sans-serif;
}

h4 {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #e2e8f0;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
}

.sidebar {
  height: 100%;
  background-color: #334155;
  position: fixed;
  left: 0;
  width: 350px;
}

.sidebar .profile {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar .profile .avatar {
  margin: 0 auto;
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.sidebar .profile .user {
  font-size: x-large;
  padding-top: 25px;
  margin: 0 auto;
  color: #cbd5e1;
  font-weight: 600;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.sidebar .profile .user .level {
  color: #fff;
  font-weight: 500;
}

.sidebar .content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar .content .actions {
  width: 100%;
}

.sidebar .content .actions .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0px 10px;
  padding: 25px;
}

.sidebar .content .actions .wrapper button {
  border: none;
  border-radius: 0;
}

.sidebar .content .actions .wrapper .button {
  padding: 10px 15px;
  font-weight: 500;
  font-size: large;
  opacity: 80%;
}

.sidebar .content .actions .wrapper .button:hover {
  opacity: 100%;
}

.sidebar .actions .new-task {
  background-color: #4ade80;
}

.sidebar .actions .logout {
  background-color: #f43f5e;
}

.sidebar .content .information {
  color: #fff;
  margin: 25px;
}

.sidebar .content .information .details {
  font-size: x-large;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.sidebar .content .information .details h4 {
  opacity: 90%;
  margin: 5px 0 0 0;
}

.sidebar .content .information .details p {
  color: #cbd5e1;
  font-weight: 650;
  margin: 5px 0 0 2px;
}

.sidebar .content .information .details span {
  color: white;
  font-weight: 400;
}

main {
  margin-left: 350px;
}

main .container {
  padding: 10px 25px;
}

.tasks {
  padding: 20px 0;
}
.tasks .title {
  margin: 0;
  font-size: xx-large;
  font-weight: 700;
}

.tasks .empty {
  font-size: x-large;
}
.tasks .items {
  margin: 10px 0;
  display: none;
  flex-direction: column;
  background-color: transparent;
  max-height: 260px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.tasks .items table {
  border-collapse: collapse;
}

.tasks .items table tr th {
  height: 50px;
}

.tasks .items table .header {
  top: 0;
  position: sticky;
  color: #0f172a;
  font-size: large;
}

.tasks .items table .footer {
  top: 0;
  position: sticky;
  color: #0f172a;
  font-size: large;
}

.tasks .items table .item {
  color: #d4d4d8;
}

.tasks .items table .actions button {
  color: #334155;
  font-weight: 500;
  border: none;
  font-size: medium;
  padding: 5px 15px;
  border-radius: 10;
  margin: 0 4px;
}

.tasks .items table .actions button:hover {
  color: #fff;
}

.tasks .items table .actions .complete {
  background-color: #34d399;
}

.tasks .items table .actions .complete:hover {
  background-color: #059669;
}

.tasks .items table .actions .update {
  background-color: #fcd34d;
}

.tasks .items table .actions .update:hover {
  background-color: #fbbf24;
}

.tasks .items table .actions .cancel {
  background-color: #ef4444;
}

.tasks .items table .actions .cancel:hover {
  background-color: #dc2626;
}

main .container .primary-title {
  display: flex;
  flex-direction: column;
}

main .container .primary-title * {
  margin: 0 auto;
}

main .container .primary-title p {
  margin-top: 10px;
  font-size: x-large;
}

main .footer {
  display: block;
  text-align: center;
  margin-top: 10px;
}

main .footer a {
  color: #1d4ed8;
}

.mobile-open {
  display: none;
  width: 100%;
}

.mobile-open .wrapper {
  display: flex;
  padding: 15px 20px;
  cursor: pointer;
  justify-content: right;
}

.mobile-open .open-button hr {
  width: 30px;
  height: 5px;
  background-color: black;
}

.mobile-close {
  display: none;
  width: 100%;
  padding: 5px 0px;
}

.mobile-close .wrapper {
  display: block;
  width: 100%;
}

.mobile-close .close {
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  font-size: 48px;
  width: 30px;
  height: 5px;
  color: red;
  padding: 20px 20px;
}

.reminder {
  display: none;
  padding: 5px 0;
  margin: 20px 0;
  background-color: #fbbf24;
}

.reminder .wrapper {
  color: rgba(248, 250, 252, 0.95);
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  align-items: center;
  gap: 10px;
}

.reminder h4 {
  padding: 10px 7.5px;
  border-radius: 5%;
  background-color: rgba(245, 158, 11, 0.5);
  text-transform: uppercase;
}

.reminder span {
  font-size: large;
  font-weight: 700;
}

@media only screen and (max-width: 720px) {
  .sidebar {
    display: none;
    width: 100%;
  }

  main {
    padding-top: 80px;
    margin-left: 0;
  }

  .tasks {
    padding: 20px 0px;
  }

  .mobile-open {
    display: block;
    position: fixed;
  }

  .mobile-close {
    display: flex;
  }

  .tasks .items table tr th {
    height: 50px;
    padding: 5px;
  }

  .reminder .wrapper {
    text-align: center;
    flex-direction: column;
  }

  .reminder .wrapper h4 {
    padding: 20px 40px;
    margin: 5px 0;
    border-radius: 5%;
  }
}
